---
---

#markdown-toc:before {
  content: "Table of Contents";
  font-weight: bold;
}
ul#markdown-toc {
  list-style: none;
  float: right;
  box-shadow: 2px 2px 10px;
  background-color: white;
}
.blog-index #markdown-toc {
  display: none;
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

.printable {
  img, a {border:none; outline: none; text-decoration: none;};
}

#disqus_thread {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

