_site
.sass-cache
.gist-cache
.code-highlighter-cache
.bundle
.ink-cache

_deploy.yml
.deploy

Gemfile.lock

*~
assets/printables/

*.aux
*.hst
*.log
*.out
*.synctex.gz
*.toc
*.ver
*.bbl
*.blg
*.xdv

.DS_Store

assets/miscs/models/
